<mat-drawer-container class="example-container" autosize>
  <mat-drawer class="example-sidenav" mode="side" [opened]="openLeft" position="start">

    <ng-content select="[left]">
    </ng-content>
  </mat-drawer>

  <mat-drawer class="example-sidenav" mode="side" [opened]="openRight" position="end">

    <ng-content select="[right]">
    </ng-content>
  </mat-drawer>
  <ng-content select="[pageHeader]">
  </ng-content>
    
    <!-- <div class="example-sidenav-content"> -->
      <ng-content select="[page]" class="example-sidenav-content">
      </ng-content>

  <!-- </div> -->


</mat-drawer-container>