<div id="wrapper">
  <header>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toogleSideBar('left')"  aria-label="menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>
    </mat-toolbar>
  </header>


  <app-menu-sidebar [openLeft]="leftMenuOpen" [openRight]="this.selectedTask?true:false" >

    <ng-container left>

      <app-task-lists [taskLists]="taskLists" (listSelected)="selectList($event)"></app-task-lists>
    </ng-container >

    <ng-container page *ngIf="selectedList">

      <app-tasks [listId]="selectedList.id" [tasks]="tasks" (taskSelected)="selectTask($event)"></app-tasks>

    </ng-container>

    <ng-container right>
      <app-task *ngIf="selectedTask" [task]="selectedTask" [listId]="selectedList.id" (deleteTaskEmit)="deleteTask()" ></app-task>
    </ng-container >

  </app-menu-sidebar>
  <footer>sdf</footer>
</div>
