<div id="wrapper">
  <header>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toogleSideBar('left')"  aria-label="menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="spacer"></span>

      <button mat-button (click)="logOut()" color="accent" aria-label="logOut">
        Déconnexion
      </button>
    </mat-toolbar>
  </header>


  <app-menu-sidebar [openLeft]="leftMenuOpen" [openRight]="selectedTask?true:false" >

    <ng-container left>

      <app-task-lists  [taskLists]="taskLists" (listSelected)="selectList($event)"></app-task-lists>
    </ng-container >

    <ng-container page >
    <ng-container page *ngIf="selectedList; else noList" >

     <app-tasks [listId]="selectedList.id" [tasks]="tasks" (taskSelected)="selectTask($event)"></app-tasks>
    </ng-container>

    <ng-template #noList>
      Veuillez sélectionner une liste
    </ng-template>

    </ng-container>

    <ng-container right>
      <app-task *ngIf="selectedTask" [task]="selectedTask" [listId]="selectedList.id" (deleteTaskEmit)="deleteTask()" ></app-task>
    </ng-container >

  </app-menu-sidebar>
  <footer>
      {{title}}
  </footer>
</div>
